* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #f8bfc7;
    color: white;
    padding: 13px 30px 14px 30px;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    color: black;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}

a {
    text-decoration: none;
    color: black;
}

li {
    margin-right: 30px;
}

.upper-box {
    background-image: url(images/background\ \(1\).png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.lower-box {
    color: #feb700;
    background-color: #336fd1;
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 57px;
    text-align: center;
}

.fields {
    border: 3px solid white;
    border-radius: 20px;
    margin: 30px;
    margin-bottom: 10px;
    padding: 30px;
    background-color: #f8bfc7;
    color: white;
}

.form-row-button {
    display: flex;
    justify-content: center;
}

button {
    color: white;
    background-color: #feb700;
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px 19px 10px 19px;

}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row input, .form-row select {
    color: white;
    border: none;
    border-bottom: 1px solid white;
    background-color: #f8bfc7;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
    color: #d55c5f;
    box-shadow: none;
}

input::placeholder {
    color: white;
}







@media only screen and (min-width:700px) {
    header, footer {
        padding: 33px 50px 34px 50px;
        font-family: Helvetica, sans-serif;
        font-size: 20px;   
    }

    .upper-box {
        justify-content: flex-start;
    }
    
    .lower-box {
        font-size: 200%;
    }

    .fields {
        margin-top: 90px;
        font-size: 130%;

    }

    .form-row-button {
        padding-left: 0px;
        justify-content: center;
    }

    button {
        font-size: 130%;
    }

    .forma {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        padding-bottom: 100px;
    }
   
    
}

@media only screen and (min-width:281px) and (max-width:699px) {
    li {
        margin-right: 0px;
    }

    ul {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width:280px) {
    footer {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    header {
        flex-direction: column-reverse;
        justify-content: center;
    }

    ul {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    li {
        margin-right: 0;
    }

    .lower-box {
        padding-left: 5px;
        padding-right: 5px;

    }

    .fields {
        
        max-width: 180px;
    }
    .form-row select {
        word-wrap: break-word;
    }


}